[submodule "subModuleChild0"]
	path = subModuleChild0
	url = https://github.com/janmal8359/subModuleChild0
	branch = ver2
[submodule "subModuleChild1"]
	path = subModuleChild1
	url = https://github.com/janmal8359/subModuleChild1
	branch = main
